<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>JustDreams – Réservez votre prochain voyage</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/confirmation.css') }}">
</head>
<body>
  <div class="container">
    <h1>🌟 Merci pour votre demande, {{ first_name }} !</h1>
    <p>Nous avons bien reçu votre message et nous reviendrons vers vous dans les plus brefs délais.</p>

    <footer>
      Ce message vous a été envoyé par JustDreams.com - Explorez le monde avec style ✈️
    </footer>
  </div>
</body>
</html>
