<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation du mot de passe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/resetPassword.css') }}">
</head>
<body>
    <div class="reset-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='Image/JustDreamslogo.jpg') }}" alt="Logo JustDreams" class="image2">
        </div>
        <h2>Réinitialiser votre mot de passe</h2>
        <form id="resetForm">
            <label for="new-password">Nouveau mot de passe :</label>
            <div class="password-wrapper">
                <input type="password" id="new-password" name="new-password" required>
                <span id="toggle-new-password" class="toggle-password">👁️</span>
            </div>

                        <!-- Texte de robustesse -->
            <p id="password-strength-text" class="hidden strength-text"></p>

            <!-- Liste des critères -->
            <ul id="password-criteria" class="hidden password-criteria">
                <li id="length">❌ Au moins 8 caractères</li>
                <li id="uppercase">❌ Une majuscule</li>
                <li id="lowercase">❌ Une minuscule</li>
                <li id="digit">❌ Un chiffre</li>
                <li id="special">❌ Un caractère spécial</li>
            </ul>

            <label for="confirm-password">Confirmer le mot de passe :</label>
            <div class="password-wrapper">
                <input type="password" id="confirm-password" name="confirm-password" required>
                <span id="toggle-confirm-password" class="toggle-password">🧿</span>
            </div>
    
            <button type="submit" id="reset-button">Réinitialiser</button>
        </form>
    
        <p id="reset-message" class="reset-message"></p>

        <a href="/" class="back-home">← Retour à l'accueil</a>
    </div>
    <script type="module" src="{{ url_for('static', filename='JS/authentification/resetPassword.js') }}"></script>
</body>
</html>
